.footer {
    width: 100%;
    background: $main_color;
    display: block;

    &__content {
        width: 95%;
        margin: auto;
        padding: 30px 10px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;

        &__items {
            width: 25%;
            padding: 10px 20px;
            box-sizing: border-box;
            color: #fff;

            &--logo {
                margin-top: 1.2em;
                width: 80%;
            }

            &--borders {
                height: 3px;
                width: 40px;
                background: #ff9800;
                color: #ff9800;
                background-color: #ff9800;
            }

            &--socialmed {
                width: 100%;
                color: #fff;
                text-align: center;
                font-size: 30px;

                a {
                    text-decoration: none;
                }

                i {
                    height: 25px;
                    width: 25px;
                    margin: 30px 10px;
                    padding: 4px;
                    color: #fff;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(1.5);
                    }
                }

            }
        }
    }

    ul {
        list-style: none;
        color: #fff;
        font-size: 15px;
        letter-spacing: 0.5px;

        a {
            text-decoration: none;
            outline: none;
            color: #fff;
            transition: 0.3s;

            &:hover {
                color: #ff9800;
            }
        }

        li {
            margin: 10px 0;
            height: 25px;
        }

        i {
            margin-right: 20px;
        }
    }


    &__bottom {
        padding: 10px;
        background: #00121b;
        color: #fff;
        font-size: 12px;
        text-align: center;
    }
}



// RESPONSIVE TAB

@media screen and (max-width: 1175px) {
    .footer__content__items--logo {
        width: 70%;
    }

    .footer__content__items {
        width: 50%;
    }

}

// RESPONSIVE MOBILE
@media screen and (max-width: 660px) {
    .footer__content__items--logo {
        width: 50%;
        margin-left: 25%;
    }

    .footer__content__items {
        width: 100%;
    }
}
